<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="ctrl.username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="ctrl.password">
  </div>

  <div class="text-center">
    
  <!-- STEP #1: 
      Clicking create account should take the username and password to create a 
      new account:
      
      (to allow user data to write to API) within apiService.js,
    
        (a) create a method in apiService.js that creates an account by posting to the API
    
          return this.$http.post(CREATE_ACCOUNT_URL, 
            {username: username, password: password}
          );  
    
        (b) call the method in loginCtrl.js using the LoginCtrl.prototype.createAccount() method
          this.username and this.password will come from the ng-model 
          (where you initialized them as ctrl.username and ctrl.password, as shown above)
          use var self = this; to account for the scope 
    
        (c) in the LoginCtrl constructor function’s parameter
          inject variable api (for profile model) and $location (for routing into profile view)
    
        finally, make an ng-click on the button that will call (Login)ctrl.createAccount() 

    -->
    <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.createNewAccount()">Create account</button>
   
    <!-- STEP #2: 
      Clicking login should take the username and password from the form 
      and make an API request to log the user in. If they are logged in successfully then 
      go into the profile:
      
      (a) create a method in apiService.js that logs the user in (already done for you)
      
      (b) call the method in loginCtrl.js using the LoginCtrl.prototype.login() method
        this.username and this.password will come from the ng-model 
        (where you initialized them as ctrl.username and ctrl.password, as shown above)
        use var self = this; to account for the scope 
       
      finally, make an ng-click on the button that will call (Login)ctrl.login() 
      
      next, go to STEP #3(a) to  apiService.js
          
    -->
    <button class="btn btn-primary btn-lg" ng-click="ctrl.controllerLogin()">Login</button>
  </div>

</form>